{% extends "ClarolineCoreBundle::layout.html.twig" %}

{% block title %}{{ user.getLastName() ~ ' ' ~ user.getFirstName() | striptags | raw }}{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ 'edit_password' | trans({}, 'platform') }}
            </div>
            <div class="panel-body">
                <div class="alert alert-danger">
                    <strong>{{ 'cannot_change_password' | trans({}, 'platform') }}</strong>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
